@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Eczar:wght@400..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap");

@import "tailwindcss";
/* @import "tailwindcss/preflight"; */
/* @import "tailwindcss/utilities"; */

@theme {
	--font-roboto: "Roboto", sans-serif;
	--font-space: "Space Grotesk", sans-serif;
	--font-rubik: "Rubik Moonrocks", sans-serif;
	--font-eczr: "Eczar", serif;
	--font-lg: "Luckiest Guy", cursive;
}

.eB {
	margin: 0;
	padding: 0;
	position: relative;
	font-size: 6em;
	color: transparent;
	text-transform: uppercase;
}
.eB span:nth-child(1) {
	position: absolute;
	top: 0;
	left: 0;
	color: #000;
	transition: 0.5s;
	clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
	overflow: hidden;
}
.eB:hover span:nth-child(1) {
	transform: translateY(-18px);
}
.eB span:nth-child(2) {
	position: absolute;
	top: 0;
	left: 0;
	color: #000;
	transition: 0.5s;
	clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
	overflow: hidden;
}
.eB:hover span:nth-child(2) {
	transform: translateY(18px);
}
.eB span:nth-child(3) {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%) scaleY(0);
	width: 91%;
	color: #000;
	background: #ff0;
	font-size: 0.25em;
	font-weight: 500;
	letter-spacing: 0.7em;
	text-align: center;
	padding-left: 20px;
	margin-left: 5px;
	transition: 0.5s;
}
.eB:hover span:nth-child(3) {
	transform: translateY(-50%) scaleY(1);
}

@keyframes spin-slow {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.animate-spin-slow {
	animation: spin-slow 10s linear infinite;
}

/* @layer base {
	body {
		font-family: "Space Grotesk", sans-serif;
	}
} */
